<%= header %>
<%= boomerangScript %>
<!--
responseEnd happening in the far future
-->
<script src="04-resend-far-future.js" type="text/javascript"></script>
<script>
// Patch getPerformance to return our buggy data instead
BOOMR.getPerformance = function() {
	var data = BOOMR_test.getPerformanceCopy();

	if (!data) {
		return data;
	}

	// response end is in year 2065
	data.timing.responseEnd = 2997993600000;

	return data;
};

BOOMR_test.init({
	testAfterOnBeacon: true
});
</script>
<%= footer %>
