<%= header %>
<!--
IE doesn't return a leading slash (/) on anchor.pathname, XHR exclude list was not being honored
-->
<script src="92560.js" type="text/javascript"></script>
<%= boomerangSnippet %>
<script>
BOOMR_test.init({
	"instrument_xhr": true,
	afterFirstBeacon:
		function() {
			if (!BOOMR.plugins.AutoXHR) {
				return;
			}

			BOOMR.xhr_excludes["/pages/06-bugs/support/script2.js"] = true;

			var xhr;
			xhr = new XMLHttpRequest();
			xhr.open("GET", "support/script1.js");
			xhr.send(null);

			setTimeout(function(){
				xhr = new XMLHttpRequest();
				xhr.open("GET", "support/script2.js");
				xhr.send(null);
			}, 100);
		}
});
</script>
<%= footer %>
