<%= header %>
<%= boomerangScript %>
<script src="99702.js" type="text/javascript"></script>
<script>
//
// In this test case, we're verifying that if responseEnd is after loadEventStart, we
// don't send a negative t_page (Front End) timestamp.
//
BOOMR_test.init({
	testAfterOnBeacon: 2,
	onBoomerangLoaded: function() {
		setTimeout(function() {
			BOOMR.responseEnd({
				url: "http://foo.com",
				timing: {
					loadEventEnd: 1000,
					// Note for XHRs (which this is faking), we use responseEnd as responseStart in
					// our calculation, so set it to be "after" loadEventEnd to trigger this condition
					responseEnd: 2000
				}
			});
		}, 1000);
	}
});
</script>
<%= footer %>
