<%= header %>
<%= boomerangScript %>
<script src="10-events-window.js" type="text/javascript"></script>
<script>
BOOMR_test.init({
	testAfterOnBeacon: 1,
	Errors: {
		enabled: true,
		monitorEvents: true,
		sendAfterOnload: true,

		// turn off global so it doesn't get in the way
		monitorGlobal: false,
		monitorTimeout: false
	}
});

if (window.addEventListener && window.postMessage) {
	window.addEventListener("message", function errorFunction() {
		// will throw an error
		a.foo = false;
	});

	window.postMessage("foo", "*");
}
</script>
<!-- delay the page by 1second so an error can fire -->
<img src="/delay?delay=1000&amp;file=/assets/img.jpg" style="width: 100px" />
<%= footer %>
