<%= header %>
<%= boomerangScriptMin %>
<script src="10-events-window.js" type="text/javascript"></script>
<script>
BOOMR_test.init({
	testAfterOnBeacon: 1,
	Errors: {
		enabled: true,
		monitorEvents: true,
		sendAfterOnload: true,

		// turn off global so it doesn't get in the way
		monitorGlobal: false,
		monitorTimeout: false
	}
});

window.callCount = 0;

if (window.addEventListener && window.postMessage) {
	function errorFunction() {
		window.callCount++;

		// will throw an error
		a.foo = false;
	}

	window.addEventListener("message", errorFunction);

	window.postMessage("foo", "*");

	setTimeout(function() {
		// remove event listener
		window.removeEventListener("message", errorFunction);

		// event listener shouldn't fire
		window.postMessage("foo", "*");
	}, 100);
}
</script>
<!-- delay the page by 1second so an error can fire -->
<img src="/delay?delay=1000&amp;file=/assets/img.jpg" style="width: 100px" />
<%= footer %>
