<%= header %>
<%= boomerangScriptMin %>
<script src="14-setinterval.js" type="text/javascript"></script>
<script>
BOOMR_test.init({
	testAfterOnBeacon: true,
	Errors: {
		enabled: true,
		monitorTimeout: true,

		// turn off global so it doesn't get in the way
		monitorGlobal: false
	}
});
setInterval(function errorFunction() {
	// will throw an error
	a.foo = false;
}, 0);
</script>
<!-- delay the page by 1second so an error can fire -->
<img src="/delay?delay=1000&amp;file=/assets/img.jpg" style="width: 100px" />
<%= footer %>
