<%= header %>
<span id="interaction-target"></span>
<script>
// polyfill / overwrite PO for testing
window.PerformanceObserver = function(callback) {
	window.POs = window.POs || {};

	return {
		entryTypes: undefined,
		observe: function(config) {
			this.type = config.type;
			window.POs[this.type] = this;
		},
		trigger: function(data) {
			callback(data);
		}
	};
};

// polyfill EventTiming
window.PerformanceEventTiming = {};
</script>
<%= boomerangScript %>
<script src="06-inp-counts-many-interactions-2.js" type="text/javascript"></script>
<script>
BOOMR_test.init({
	testAfterOnBeacon: 2,
	EventTiming: {
		enabled: true
	},
	afterFirstBeacon: function() {
		// fake an unload
		BOOMR.fireEvent("page_unload", {
			type: "beforeunload"
		});
	}
});

var curStartTime = 1000;
function generateEvent(processing, duration, interactionId) {
	curStartTime += 10;
	return {
		name: "click",
		entryType: "event",
		startTime: curStartTime,
		duration: duration,
		processingStart: curStartTime,
		processingEnd: curStartTime + processing,
		cancelable: false,
		interactionId: interactionId,
		target: document.getElementById("interaction-target")
	};
}

// trigger some events
window.POs.event.trigger({
	getEntries: function() {
		return [
			// a few non-interactions
			generateEvent(10, 50, 0),
			generateEvent(100, 100, 0),
			generateEvent(10, 10, 0),

			// an interaction: 100ms
			// should be chosen based on 500 interactionCount
			generateEvent(100, 100, 1),
			generateEvent(10, 10, 1),
			generateEvent(20, 20, 1),

			// more independent interactions
			generateEvent(101, 101, 2),
			generateEvent(102, 102, 3),
			generateEvent(103, 103, 4),
			generateEvent(104, 104, 5),
			generateEvent(105, 105, 6),
			generateEvent(106, 106, 7),
			generateEvent(107, 107, 8),
			generateEvent(108, 108, 9),
			generateEvent(109, 109, 10),
			generateEvent(110, 110, 11)
		];
	}
});

window.performance = window.performance || {};
window.performance.interactionCount = 500;
</script>
<%= footer %>
