<%= header %>
<%= boomerangScript %>
<script src="../../vendor/jquery/dist/jquery.js"></script>
<script src="../../vendor/handlebars/handlebars.js"></script>
<script src="../../vendor/backbone/backbone.js"></script>
<base href="/pages/09-backbone/21-constant-mutations.html" />
<div id="content"></div>
<script src="support/app.js"></script>
<script src="/test-templates/spa/21-constant-mutations.js" type="text/javascript"></script>
<script src="21-constant-mutations.js" type="text/javascript"></script>
<script>
BOOMR_test.init({
	testAfterOnBeacon: 1,
	Backbone: {
		enabled: true
	},
	instrument_xhr: true,
	autorun: false
});
setInterval(function() {
	var node = document.createElement("span");
	node.innerHTML = ".";
	document.getElementById("content").appendChild(node);
}, 100);
</script>
<%= footer %>
