<%= header %>
<%= boomerangScript %>
<script src="../../vendor/jquery/dist/jquery.js"></script>
<script src="../../vendor/handlebars/handlebars.js"></script>
<script src="../../vendor/backbone/backbone.js"></script>
<base href="/pages/09-backbone/24-route-filter.html" />
<div id="content"></div>
<script>
window.backbone_imgs = [3000];

window.backbone_html5_mode = true;

// view a widget then come back so debugging (F5) is easier
window.backbone_nav_routes = ["widgets/1", "24-route-filter.html"];

// ensure
var navs = 0;
window.backbone_route_filter = function() {
	return (++navs) <= 2;
};
</script>
<script src="support/app.js"></script>
<script src="/test-templates/spa/24-route-filter.js" type="text/javascript"></script>
<script src="24-route-filter.js" type="text/javascript"></script>
<script>
BOOMR_test.init({
	testAfterOnBeacon: 2,
	Backbone: {
		enabled: true
	},
	instrument_xhr: false,
	autorun: false
});
</script>
<%= footer %>
