*.gz
*.swp
/boomerang-*.js
build/*
hint.log
tests/vendor/
tests/coverage/
*.diff
.project
.settings/
tests/vendor/
tests/coverage/
tests/results/*
tests/pages/*
node_modules/
build/
tasks/mpulse-test.config.json
tests/server/env.json
npm-debug.log
*.#*
*#*
*~
