*.gz
*.swp
/boomerang-*.js
build/*
build/
hint.log
*.log
*.diff
.project
.settings/
tests/vendor/
tests/coverage/
tests/results/*
tests/pages/*
node_modules/
tests/server/env.json
npm-debug.log
/tests/e2e/e2e.json
/tests/e2e/e2e-debug.json
*.#*
*#*
*~
