*.gz
*.swp
/boomerang-*.js
build/*
*.log
*.diff
.project
.settings/
tests/vendor/
tests/coverage/
tests/results/*
tests/pages/*
node_modules/
build/
tests/server/env.json
npm-debug.log
/tests/e2e/e2e.json
/tests/e2e/e2e-debug.json
tests/page-templates/12-react/support/app-component.js
tests/page-templates/12-react/support/app-component.js.map
tests/page-templates/12-react/support/app.js
*.#*
*#*
*~
.idea/
*.DS_Store