<%= header %>
<%= boomerangScript %>

<script src="support/function-bind-polyfill.js" type="text/javascript"></script>

<script>
window.imgs = [3000];

window.html5_mode = false;

// view a widget then come back so debugging (F5) is easier
window.nav_routes = ["/widgets/1", "/"];

// disable the React hook and use window.history (via auto:true)
window.reactDisableBoomerangHook = true;
</script>

<div id="root"></div>

<script>
BOOMR_test.init({
	testAfterOnBeacon: 3,
	History: {
		enabled: true,
		auto: true
	},
	autorun: false
});
</script>

<script src="support/app.js"></script>
<script src="100-history-auto.js"></script>

<%= footer %>
