<%= header %>
<%= boomerangScript %>
<button id="clickable">Clickable Button!</button>
<script src="14-xhr-no-dom.js" type="text/javascript"></script>

<script>
BOOMR_test.init({
	AutoXHR: {
		spaStartFromClick: true
	},
	testAfterOnBeacon: false,
	History: {
		enabled: true,
		auto: true
	},
	instrument_xhr: true,
	autorun: false,
	afterFirstBeacon: function() {
		if (!BOOMR.plugins.AutoXHR) {
			return;
		}

		// 1. XHR (2000ms)
		// 2. nothing more
		BOOMR_test.xhrDelayed("xhr1", 2000);

		setTimeout(BOOMR_test.runTests, 4000);
	}
});
</script>
<%= footer %>
