<%= header %>
<%= continuitySnippet %>
<%= boomerangScript %>
<script src="02-fps-after-load.js" type="text/javascript"></script>
<img src="/delay?delay=3000&amp;file=assets/img.jpg"/>
<script>
BOOMR_test.init({
	testAfterOnBeacon: 2,
	Continuity: {
		enabled: true,
		afterOnload: true
	},
	afterFirstBeacon: function() {
		setTimeout(function() {
			var st = BOOMR.requestStart("test");

			// loop for 300ms to trigger a long frame
			BOOMR_test.busy(300);

			st.loaded();
		}, 100);
	}
});
</script>
<%= footer %>
