<%= header %>
<%= boomerangScript %>
<script src="10-key-after-load.js" type="text/javascript"></script>
<script>
var ev = document.createEvent("Event");
ev.initEvent("keydown", true, true);
ev.keyCode = 27;

BOOMR_test.init({
	testAfterOnBeacon: 2,
	Continuity: {
		enabled: true,
		afterOnload: true
	},
	afterFirstBeacon: function() {
		setTimeout(function() {
			var st = BOOMR.requestStart("test");

			// ESC key 5x
			document.dispatchEvent(ev);
			document.dispatchEvent(ev);
			document.dispatchEvent(ev);
			document.dispatchEvent(ev);
			document.dispatchEvent(ev);

			st.loaded();
		}, 100);
	}
});

// ESC key 3x
document.dispatchEvent(ev);
document.dispatchEvent(ev);
document.dispatchEvent(ev);
</script>
<%= footer %>
