<%= header %>
<%= continuitySnippet %>
<%= boomerangScript %>
<!-- trigger First Paint -->
<h1>18-tti-wait-after-onload</h1>
<script src="18-tti-wait-after-onload.js" type="text/javascript"></script>
<script>
BOOMR_test.init({
	testAfterOnBeacon: true,
	Continuity: {
		enabled: true,
		waitAfterOnload: 3000
	}
});

var called = 0;
setTimeout(function redo() {
	called++;

	// loop for 100ms 5x to trigger a bunch of work
	BOOMR_test.busy(100);

	if (called === 5) {
		// time to interactive should be around this timestamp
		window.workDone = BOOMR.now();

		return;
	}
	else {
		setTimeout(redo, 20);
	}
}, 20);
</script>
<%= footer %>
