<%= header %>
<%= boomerangScript %>
<script src="20-scroll-after-load.js" type="text/javascript"></script>
<img src="/delay?delay=3000&amp;file=assets/img.jpg" width="200" height="10000" />
<script>
BOOMR_test.init({
	testAfterOnBeacon: true,
	Continuity: {
		enabled: true,
		afterOnload: true
	},
	afterFirstBeacon: function() {
		setTimeout(function() {
			var st = BOOMR.requestStart("test");

			// scroll to bottom then back to top
			window.scrollTo(0, document.body.scrollHeight);

			setTimeout(function() {
				window.scrollTo(0, 0);

				setTimeout(function() {
					// scroll to bottom then back to top
					window.scrollTo(0, document.body.scrollHeight);

					setTimeout(function() {
						window.scrollTo(0, 0);

						st.loaded();
					}, 250);
				}, 3000);
			}, 250);
		}, 100);
	}
});
</script>
<%= footer %>
