<%= header %>
<%= boomerangScript %>
<script>
// create an event to use later
var ev = document.createEvent("Event");
ev.initEvent("keydown", true, true);
ev.keyCode = 27;
</script>
<script>
BOOMR_test.init({
	testAfterOnBeacon: 3,
	Continuity: {
		enabled: true,
		afterOnload: true,
		afterOnloadMaxLength: 60000,
		afterOnloadMinWait: 1000
	},
	afterFirstBeacon: function() {
		setTimeout(function() {
			// hit ESC key twice
			document.dispatchEvent(ev);
			document.dispatchEvent(ev);

			// wait for 2 seconds after that beacon goes out
			setTimeout(function() {

				// hit ESC key once more
				document.dispatchEvent(ev);
			}, 2000);
		}, 100);
	}
});
</script>
<script src="28-after-onload.js" type="text/javascript"></script>
<%= footer %>
