<%= header %>
<%= boomerangSnippet %>
<script src="00-dom-counts.js" type="text/javascript"></script>
<script>
BOOMR_test.init({
	testAfterOnBeacon: true
});
</script>
<!-- images: 3 total, 2 external, 1 unique external -->
<img src="/assets/img.jpg" />
<img src="/assets/img.jpg" />
<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" />
<!-- scripts: (there are already some in the head).  Include the test framework a second time so it's non-unique -->
<script src="../../boomerang-test-framework.js" type="text/javascript"></script>
<!-- iframes: one included for boomerang, also include an external one twice -->
<iframe src="/assets/blank.html"></iframe>
<iframe src="/assets/blank.html"></iframe>
<!-- link: include the header stylesheet again, and one non-stylesheet -->
<link rel="stylesheet" href="../../vendor/mocha/mocha.css" />
<link rel="canonical" href="/" />
<%= footer %>
