<%= header %>
<!--
	Tests the IFrameDelay plugin
-->
<iframe id="frame1" src="/delay?delay=200&file=/pages/26-iframedelay/support/delayed-pageready.html"></iframe>
<iframe id="frame2" src="/delay?delay=100&file=/pages/26-iframedelay/support/delayed-pageready.html"></iframe>
<%= boomerangSnippet %>
<script src="00-iframedelay.js" type="text/javascript"></script>

<script type="text/javascript">
BOOMR_test.init({
	testAfterOnBeacon: true,
	IFrameDelay: {
		enabled: true,
		monitoredCount: 2
	},
	autorun: false
});
</script>
<%= footer %>
