<%= header %>
<!--
	Tests iframes that complete before the base page onload has happened.
	The onload time should be that of the base page onload and not the time the iframes load.
-->
<iframe id="frame1" src="/delay?delay=200&file=/pages/26-iframedelay/support/instant-pageready.html"></iframe>
<iframe id="frame2" src="/delay?delay=100&file=/pages/26-iframedelay/support/instant-pageready.html"></iframe>
<%= boomerangSnippet %>
<script src="01-fast-iframes.js" type="text/javascript"></script>

<script type="text/javascript">
BOOMR_test.init({
	testAfterOnBeacon: true,
	IFrameDelay: {
		enabled: true,
		monitoredCount: 2
	},
	autorun: false
});
</script>
<img src="/delay?delay=1000&file=/assets/img.jpg"/>
<%= footer %>
