<%= header %>
<!--
	Tests the IFrameDelay parent window waits for child frames.
	Config on the iframes is delayed causing Boomerang not to send child messages before the base page onload
-->
<iframe id="frame1" src="/delay?delay=200&file=/pages/26-iframedelay/support/delayed-boomr.html"></iframe>
<iframe id="frame2" src="/delay?delay=100&file=/pages/26-iframedelay/support/delayed-boomr.html"></iframe>
<%= boomerangSnippet %>
<script src="03-delayed-iframes.js" type="text/javascript"></script>

<script type="text/javascript">
BOOMR_test.init({
	testAfterOnBeacon: true,
	IFrameDelay: {
		enabled: true,
		monitoredCount: 2
	},
	autorun: false
});
</script>
<%= footer %>
