<%= header %>
<!--
	Same as 00-iframedelay but the iframes and are cross origin and use the snippet to load boomerang in a sub iframe
-->
<iframe id="frame1" src="//<%= secondaryServer %>:<%= testPort %>/delay?delay=200&file=/pages/26-iframedelay/support/delayed-pageready-snippet.html"></iframe>
<iframe id="frame2" src="//<%= secondaryServer %>:<%= testPort %>/delay?delay=100&file=/pages/26-iframedelay/support/delayed-pageready-snippet.html"></iframe>
<%= boomerangSnippet %>
<script src="06-iframedelay-snippet-co.js" type="text/javascript"></script>

<script type="text/javascript">
BOOMR_test.init({
	testAfterOnBeacon: true,
	IFrameDelay: {
		enabled: true,
		monitoredCount: 2
	},
	autorun: false
});
</script>
<%= footer %>
