<%= header %>
<script>
window.BOOMR_LOGN_always = true;
window.BOOMR_API_key = "13-logn-01-autorun-false";
</script>
<script>
function run() {
	BOOMR.page_ready();
	BOOMR_test.runTests();
}

if (document.addEventListener) {
	document.addEventListener("onBoomerangLoaded", run);
}
else if (document.attachEvent) {
	document.attachEvent("onpropertychange", function(e) {
		e = e || window.event;
		if (e && e.propertyName === "onBoomerangLoaded") {
			run();
		}
	});
}
</script>
<%= boomerangScript %>
<script src="03-autorun-false-delay.js" type="text/javascript"></script>
<img src="/delay?delay=3000&amp;file=/assets/img.jpg" />
<%= footer %>
