<%= header %>
<!-- Tests that we wait for the page_ready call before sending beacon if autorun:false in localStorage and config -->
<script type="text/javascript">
// ensure we wait for LOGN
window.BOOMR_LOGN_always = true;
// we can use the fact that the api key is pasted into the config query request to delay config
window.BOOMR_API_key = "13-logn-08-localstorage-autorun-false&delay=2000";

config = {
	"h.t": new Date().getTime(),
	"h.cr": "abc",
	"h.d": window.location.host,
	"PageParams": {
		"pageGroups": [
			{
				"type": "Regexp",
				"parameter1": "/pages/",
				"parameter2": "FROMLOCALSTORAGE"
			}
		]
	},
	"autorun": false
};

// we need to set the localStorage config before loading boomerang to avoid timing issues
if (BOOMR_test.isLocalStorageSupported() && BOOMR_test.isJSONSupported()) {
	var value = {"items": config, "expires": new Date().getTime() + (5 * 60 * 1000)};
	window.localStorage.setItem("_boomr_LOGN", JSON.stringify(value));
}
</script>
<!-- ensure the script is on the page before onload -->
<%= boomerangScript %>

<script src="08-localstorage-autorun-false.js" type="text/javascript"></script>
<script type="text/javascript">
BOOMR_test.init({
	testAfterOnBeacon: 1
});
setTimeout(function() { BOOMR.page_ready(); }, 10000);
</script>
<%= footer %>
