<%= header %>
<%= boomerangScript %>
<base href="/pages/05-angular/04-route-change.html" />
<script src="../../vendor/angular-1.4/angular.js"></script>
<script src="../../vendor/angular-resource-1.4/angular-resource.js"></script>
<script src="../../vendor/angular-route-1.4/angular-route.js"></script>
<script>
window.angular_imgs = [3000];

window.angular_html5_mode = true;

// view a widget then come back so debugging (F5) is easier
window.angular_nav_routes = ["/widgets/1", "100-angular-14-route-change.html"];
</script>
<script src="support/app.js"></script>
<div ng-app="app">
	<div ng-view>
	</div>
</div>
<script src="/test-templates/spa/04-route-change.js" type="text/javascript"></script>
<script src="100-angular-14-route-change.js" type="text/javascript"></script>
<script>
BOOMR_test.init({
	testAfterOnBeacon: 3,
	Angular: {
		enabled: true
	},
	instrument_xhr: true,
	autorun: false
});
</script>
<%= footer %>
