<%= header %>
<%= boomerangScript %>
<script src="../../vendor/angular/angular.js"></script>
<script src="../../vendor/angular-resource/angular-resource.js"></script>
<script src="../../vendor/angular-route/angular-route.js"></script>
<script src="support/app.js"></script>
<script>
/*global angular*/
document.addEventListener("DOMContentLoaded", function() {
	angular.bootstrap(document, ["app"]);
});
</script>
<div ng-view></div>
<script src="/test-templates/spa/14-autoxhr-before-page-load.js" type="text/javascript"></script>
<script src="14-autoxhr-before-page-load.js" type="text/javascript"></script>
<script>
window.angular_imgs = [3000];

BOOMR_test.init({
	testAfterOnBeacon: true,
	Angular: {
		enabled: true
	},
	instrument_xhr: true,
	autorun: false
});

if (BOOMR.plugins.AutoXHR) {
	var xhr = new XMLHttpRequest();
	xhr.open("GET", "support/widgets.json");
	xhr.send(null);
}

</script>
<%= footer %>
