<%= header %>
<script>
// fake a non-NavigationTiming browser even if it is one
BOOMR_test.removeNavigationTimingSupport();
</script>
<%= boomerangScript %>
<script src="07-cookie-referrer-non-nt.js" type="text/javascript"></script>
<script>
BOOMR.session.domain = document.domain;
BOOMR_test.init({
	// forces it to happen at unload beacon
	testAfterOnBeacon: 2,
	afterFirstBeacon: function() {
		// fake an unload event
		BOOMR.fireEvent("page_unload", {
			type: "unload"
		});
	}
});
</script>
<%= footer %>
