<%= header %>
<script>
window.lastNav = +(new Date()) - 6000000;
BOOMR_test.setCookie({
	si: "abc123-1234",
	sl: (1).toString(36),
	ss: (lastNav).toString(36),
	tt: (1000).toString(36),
	bcn: "/beacon",
	dm: document.domain,
	ld: (1000).toString(36),
	r: BOOMR_test.MD5(document.referrer),
	z: 1
});
</script>
<%= boomerangScript %>
<script src="11-cookie-session-reset.js" type="text/javascript"></script>
<script>
BOOMR.session.domain = document.domain;
BOOMR_test.init({
	testAfterOnBeacon: true
});
</script>
<%= footer %>
