<%= header %>
<%= boomerangSnippet %>
<script src="06-svg-image.js" type="text/javascript"></script>
<script src="../../vendor/resourcetiming-compression/src/resourcetiming-decompression.js" type="text/javascript"></script>

<svg width="400px" height="200px" version="1.1"
     xmlns="http://www.w3.org/2000/svg" xmlns:xlink= "http://www.w3.org/1999/xlink">
	<image xlink:href="/assets/img.jpg" x="10" y="20" height="200px" width="400px"/>
</svg>

<script>
BOOMR_test.init({
	testAfterOnBeacon: true,
	ResourceTiming: {
		enabled: true
	}
});
</script>
<%= footer %>
