<%= header %>
<!--
IE9 (and older) and phantomjs do not fire 'loadend' for XHRs, no autoxhr beacon was being sent
-->
<script src="00-xhrs.js" type="text/javascript"></script>
<%= boomerangSnippet %>
<script>
BOOMR_test.init({
	"instrument_xhr": true,
	afterFirstBeacon:
		function() {
			if (!BOOMR.plugins.AutoXHR) {
				return;
			}

			var xhr;
			xhr = new XMLHttpRequest();
			xhr.open("GET", "support/script200.js"); //200, async
			xhr.send(null);

			setTimeout(function(){
				xhr = new XMLHttpRequest();
				xhr.open("GET", "support/script200.js", false); //200, sync
				xhr.send(null);
			}, 100);

			setTimeout(function(){
				xhr = new XMLHttpRequest();
				xhr.open("GET", "support/script404.js"); //404, async
				xhr.send(null);
			}, 200);

			setTimeout(function(){
				xhr = new XMLHttpRequest();
				xhr.open("GET", "support/script404.js", false); //404, sync
				xhr.send(null);
			}, 300);

			setTimeout(function(){
				xhr = new XMLHttpRequest();
				xhr.open("GET", "http://soasta.com"); //error
				xhr.send(null);
			}, 400);

			setTimeout(function(){
				xhr = new XMLHttpRequest();
				xhr.open("GET", "support/script200.js"); //200, async, abort
				xhr.send(null);
				xhr.abort();
			}, 500);

			setTimeout(function(){
				xhr = new XMLHttpRequest();
				xhr.timeout = 1;
				xhr.open("GET", "support/script200.js"); //200, async, timeout
				xhr.send(null);
			}, 600);

		}
});
</script>
<%= footer %>
