<%= header %>
<!--
if XHR sends after boomerang loads and responds before body.load, we get 2 beacons (onload & XHR)
-->
<%= boomerangSnippet %>
<script src="01-xhr-before-onload.js" type="text/javascript"></script>

<script>
BOOMR_test.init({
	"instrument_xhr": true,
	onBoomerangLoaded:
		function() {
			var xhr = new XMLHttpRequest();
			xhr.open("GET", "support/script200.js");
			xhr.send(null);
		}
});
</script>

<script src="/delay?delay=500&file=script404.js" type="text/javascript"></script>
<%= footer %>
