<%= header %>
<script src="05-xhr-before-onload-alwayssendxhr.js" type="text/javascript"></script>
<%= boomerangSnippet %>
<script>
BOOMR_test.init({
	testAfterOnBeacon: BOOMR.plugins.AutoXHR ? 2 : 1,
	AutoXHR: {
		alwaysSendXhr: true
	},
	ResourceTiming: {
		enabled: true
	},
	instrument_xhr: true,
	onBoomerangLoaded: function() {
		var xhr = new XMLHttpRequest();
		xhr.open("GET", "support/script200.js");
		xhr.send(null);
	}
});

</script>
<!-- delay load a second -->
<img src="/delay?delay=1000&file=/pages/07-autoxhr/support/img.jpg" />
<%= footer %>
