<%= header %>
<script src="07-iframes.js" type="text/javascript"></script>
<%= boomerangSnippet %>
<script>
BOOMR_test.init({
	"instrument_xhr": true,
	testAfterOnBeacon: (BOOMR.plugins.AutoXHR && window.MutationObserver) ? 2 : 1,
	afterFirstBeacon:
		function() {
			if (!BOOMR.plugins.AutoXHR) {
				return;
			}

			// first, start an XHR to trigger AutoXHR
			var xhr = new XMLHttpRequest();
			xhr.open("GET", "/pages/07-autoxhr/support/img.jpg?id=xhr&rnd=" + Math.random(), true);
			xhr.onreadystatechange = function() {
				if (xhr.readyState !== 4) {
					return;
				}

				// next, add an IFRAME so it gets tracked
				var iframe = document.createElement("IFRAME");
				iframe.src = "/delay?delay=1000&file=/pages/07-autoxhr/support/img.jpg?id=iframe&rnd=" + Math.random();
				document.body.appendChild(iframe);

				// then, remove the IFRAME immediately
				document.body.removeChild(iframe);
			};
			xhr.send(null);
		}
});
</script>
<%= footer %>
