<%= header %>
<script src="06-xhr-before-config-alwayssendxhr.js" type="text/javascript"></script>
<%= boomerangSnippet %>
<script>

BOOMR = BOOMR || {};
BOOMR.xhr = {
	stop: function() {
		var resources = [];

		for (var i = 0; i < 9; i++) {
			resources.push({
				timing: {
					startTime: i,
					requestStart: i + 1,
					responseEnd: i + 10
				},
				url: "http://foo.com/xhr/" + i
			});
		}

		return resources;
	}
};

BOOMR_test.init({
	testAfterOnBeacon: window.XMLHttpRequest && (new XMLHttpRequest()).addEventListener ? 10 : 1,
	AutoXHR: {
		alwaysSendXhr: true
	},
	instrument_xhr: true
});
</script>
<%= footer %>
