<%= header %>
<script src="26-double-open.js" type="text/javascript"></script>
<%= boomerangScript %>
<script>
BOOMR_test.init({
	"instrument_xhr": true,
	testAfterOnBeacon: (BOOMR.plugins.AutoXHR && window.MutationObserver) ? 2 : 1,
	AutoXHR: {
		alwaysSendXhr: true
	},
	afterFirstBeacon:
		function() {
			if (!BOOMR.plugins.AutoXHR) {
				return;
			}

			var xhr = new XMLHttpRequest();
			xhr.open("GET", "/blackhole");
			xhr.open("POST", "/404");
			xhr.send(null);
		}
});
</script>
<%= footer %>
