<%= header %>
<!--
Simulate a back/forward navigation type, no early beacon should be sent.
-->
<script>
window.localStorage.removeItem("_boomr_" + "LOGN");

// Force navigation to TYPE_BACK_FORWARD
if (window.performance) {
	window.performance.__defineGetter__("navigation", function() {
		return {type: 2, redirectCount: 0};
	});
}
</script>
<%= boomerangSnippet %>

<script src="09-navigation-type-backforward.js" type="text/javascript"></script>
<script type="text/javascript">

// simulate delayed config
setTimeout(function() {
	BOOMR_test.init({
		testAfterOnBeacon: 1,
		autorun: true,
		"PageParams": {
			"pageGroups": [
				{
					"type": "Regexp",
					"parameter1": "/pages/",
					"parameter2": "MYPAGEGROUP"
				}
			]
		},
		Early: {
			enabled: true
		}
	});
}, 2000);

</script>
<img src="/delay?delay=10&amp;file=/assets/img.jpg" style="width: 100px" />
<%= footer %>
