<%= header %>
<script>
if (!window.navigator) {
	window.navigator = {};
}

var localUA = {};

Object.defineProperty(window.navigator, "userAgentData", {
	get: function() {
		return localUA;
	}
});

Object.defineProperty(window.navigator.userAgentData, "testOverride", {
	get: function() {
		return true;
	}
});

Object.defineProperty(window.navigator.userAgentData, "getHighEntropyValues", {
	get: function() {
		return function(clientHintsList)  {
			return {
				then: function(callback) {
					callback({
						architecture: "test_arch",
						model: "test_model",
						platformVersion: "test_plat_v"
					});
				}
			};
		};
	}
});
</script>
<%= boomerangScript %>
<script src="19-entropy-client-hints.js" type="text/javascript"></script>
<script>
BOOMR_test.init({
	testAfterOnBeacon: true,
	request_client_hints: true
});
</script>
<%= footer %>
